<!--Skills-->
<div class="container border b-dark rounded shadow-lg" style="margin: 30px">
    <div class="row" style="margin-top: 20px;">
        <div class="col"><h3>Habilidades</h3></div>
        <div class="col"> <i class="fa-solid fa-plus m-2" style="font-size: 20px; float: right;"></i></div>
    </div>
    <!--skills-->
    <div class="container" *ngFor="let skill of skillsList">
    <div class="row">
        <div class="col-10 text-center"><h5 class="d-inline skill-u">{{skill.tecnologia}}</h5> <i [class]="skill.icon" [style]="skill.styleIcon"></i></div>
        <div class="col"><i class="fa-solid fa-trash m-2 icon-end"></i><i class="fa-solid fa-pen-to-square m-2 icon-end"></i></div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="progress m-2" style="width: 50%;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="40" [style]="skill.styleBarra"></div>
                  </div>
            </div>
        </div>
    </div>
    
    </div>
