<!--Datos de contacto-->
<div class="container border b-dark rounded shadow-lg" style="margin: 30px; background-color: rgba(0, 0, 0, 0.753); color: white;">
    <div class="row" id="datos_contacto" style="margin-top: 20px;">
        <div class="col"><h3>Datos de contacto.</h3></div>
    </div>
        <!--Email-->
        <div *ngFor="let dato of contactoList">
        <div class="row m-2">
            <div class="col-10"> <i [class]="dato.icon" style="font-size: 20px; color: white;"></i> <h2 class="d-inline">{{dato.nombre}}</h2> <h4 style="margin-left: 25%;">{{dato.descripcion}}</h4> </div>
            <div class="col"> <i class="fa-solid fa-trash m-2" style="font-size: 20px; float: right;"></i><i class="fa-solid fa-pen-to-square m-2" style="font-size: 20px; float: right;"></i> </div>
        </div>
        </div>
    </div>

